<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<servlet>
		<servlet-name>UploadPortfolio</servlet-name>
		<servlet-class>pitaside.controller.UploadPortfolio</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PortfolioImages</servlet-name>
		<servlet-class>pitaside.controller.PortfolioImages</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignIn</servlet-name>
		<servlet-class>pitaside.controller.SignIn</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Update</servlet-name>
		<servlet-class>pitaside.controller.Update</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteProject</servlet-name>
		<servlet-class>pitaside.controller.DeleteProject</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UploadPortfolio</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>PortfolioImages</servlet-name>
		<url-pattern>/image.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SignIn</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DeleteProject</servlet-name>
		<url-pattern>/delete.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/update.do</url-pattern>
	</servlet-mapping>
</web-app>